
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 20px;
  background-color: rgb(84, 193, 15);
  color: white;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar-links {
  list-style-type: none;
  margin-left: 350px;
  display: flex;
  gap: 30px;
}

.navbar-links li a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none; /* Remove underline from links */
}

.navbar-links li a:hover {
  text-decoration: none; /* Keep underline removed on hover */
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.auth-button {
  padding: 10px 15px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #0056b3;
}

.theme-toggle {
  background-color: transparent;
  color: white;
  cursor: pointer;
  
}



/* Media query for responsiveness */
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-links {
    gap: 15px;
  }

  .navbar-actions {
    gap: 10px;
  }
}
