body {
  margin: 0;
  padding: 0; /* Optionally reset padding as well */
  box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
}


/* App.css */

/* Light mode styles */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Ensure the transition between modes is smooth */
body, .App {
  transition: background-color 0.3s, color 0.3s;
}


