body {
  margin: 0;
  padding: 0; /* Optionally reset padding as well */
  box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
}
.App {
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  min-height: 100vh; /* Full height for background color */
}

.light-mode{
  background-color: #ffffff; /* Light background */
  color: #000000; /* Light text color */
}

.dark-mode{
  background-color: black; /* Dark background */
  color: #ffffff; /* Dark text color */
}


